@using System.Configuration
@using System.Data.SqlClient
@using UCommerce.EntitiesV2
@using Constants = UCommerce.Constants
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var querystringid = Request.QueryString["sku"];
    var sqlselect = "Select ProductId, SKU from [uCommerce_Product] where Sku = '" + querystringid + "';";

    var connection = new SqlConnection(ConfigurationManager.ConnectionStrings["umbracoDbDSN"].ConnectionString);
    var command = new SqlCommand(sqlselect, connection);
    var productId = 0;
    var SKU = string.Empty;

    if (connection.State != System.Data.ConnectionState.Open)
    {
        connection.Open();
    }

    var reader = command.ExecuteReader();
    while (reader.Read())
    {
        productId = reader.GetInt32(0);
        SKU = reader.GetString(1);
    }
    if (connection.State != System.Data.ConnectionState.Closed)
    {
        connection.Close();
    }

    var product = Product.Get(productId);


}

<script>
    $('#commentsblock').ready(function () {
        loadComments();
    });
</script>

<div>
    <div>
        <h1 class="major text-center">@product.Name</h1>    
    </div>
    <div>
        <img src="@Umbraco.Media(product.PrimaryImageMediaId).NiceUrl()" width="100%" />
        <div class="" style="float:right"><h6>Product Id: @productId</h6></div>
        <input type="hidden" id="intProductId" value="@productId" />
        <div class=""><h6>SKU: @SKU</h6></div>
    </div>
    <div>
        @Html.Raw(product.GetDescription("en-us").LongDescription)
    </div>
</div>

<div id="commentsblock">
    <h2>Comments</h2>   
    <hr />
    <div id="commentItems"></div>
     
    <div id="addcommentblock">
        <div class="form-horizontal">
            <h2>Add Your Comments...</h2>
            <div class="form-group">
                <label for="txtSubject">Subject:</label>
                <input type="text" class="form-control" id="txtSubject" placeholder="Subject"/>
            </div>
            <div class="form-group">
                <label for="txtComments">Comments:</label>
                <textarea class="form-control" id="txtComments" placeholder="Comments"></textarea>
            </div>
            <div class="form-group">
                <label for="txtEmailAddress"> Email Address:</label>
                <input type="text" class="form-control" id="txtEmailAddress" placeholder="Email Address"/>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-default" onclick="addComment()">Add Comment</a>
            </div>
        </div>

    </div>
</div>

<script id="comments" type="text/x-handlebars-template">
    {{#each comments}}
    <div><h3 class="major">{{Subject}}</h3></div>
    <div>{{{Comments}}}</div>
    <div>
        <div style="float: right">Posted On: {{CreatedOn}}</div>
        <div>By: {{EmailAddress}}</div>
    </div>
    <hr />
    {{/each}}
</script>